<div *ngIf="(vm$ | async) as vm">
  <div>
    <h1>Sessions</h1>
  </div>
  <div *ngIf="vm.isLoading">
    Searching for sessions...
  </div>
  <div *ngIf="!vm.isLoading">
    <div *ngIf="vm.sessions.length === 0">
      No sessions Found
    </div>
    <div *ngFor="let session of vm.sessions">
      <div>
        <a [routerLink]="[ '/session-reactive', session.id ]">{{ session.name }} - Reactive</a>
      </div>
      <div>
        <a [routerLink]="[ '/session', session.id ]">{{ session.name }} - Non-Reactive</a>
      </div>
    </div>
  </div>
</div>
